<h4>アカウント編集</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "学生証番号" %>
  <%= f.text_field :student_id, :autofocus => true %>
  <span class="help-inline" style="font-size: small; color: gray;">下4桁を入力してください</span>
  </div>

  <div><%= f.label "名前" %>
  <%= f.text_field :name %></div>

  <div><%= f.label "学科" %>
  <%= f.select :department, options_for_select(User::DEPARTMENT) %></div>

  <div><%= f.label "順位" %>
  <%= f.number_field :rank, :max => 99, :min => 1 %></div>

  <div><%= f.label "新しいパスワード" %>
  <%= f.password_field :password, :autocomplete => "off" %>
  <span class="help-inline" style="font-size: small; color: gray;">変更しない場合は空白にしておいてください</span>
</div>

  <div><%= f.label "パスワード確認" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "現在のパスワード" %>
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "更新", :class => "btn btn-primary" %></div>
<% end %>

