
<h4>ログイン</h4>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :student_id %>
    <%= f.text_field :student_id, :autofocus => true %>
    <span class="help-inline" style="font-size:small; color:gray;">下4桁を入力してください</span>
  </div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <label class="checkbox">
        <%= f.check_box :remember_me %>ログイン状態を維持する
      </label>
    </div>
  <% end -%>

  <div>
    <%= f.submit "ログイン", :class => "btn btn-success" %>
    <%= link_to "登録", new_user_registration_path, :class => "btn btn-primary" %>
  </div>
<% end %>
