<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>合計点</th>
      <th>平均点</th>
      <th>学科</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.rank %></td>
        <td><%= link_to user.name, student_path(user.id) %></td>
        <td><%= user.total %></td>
        <td><%= user.average %></td>
        <td><%= user.department_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="muted">
  研究室の希望は<%= link_to "こちら", :controller => :assign, :action => :edit %>から
</div>


<%= content_for :sidebar do %>
  <%= render partial: "sidebar" %>
<% end %>
