<%- model_class = User -%>
<div class="page-header">
  <h1>ユーザ一覧</h1>
</div>
<%= link_to "全ユーザを削除する", url_for(:action => :destroy_all), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '全ユーザを削除します。本当によろしいですか？')) }, :class => 'btn btn-mini btn-danger' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>学科</th>
      <th>合計点</th>
      <th>平均点</th>
      <th>取得単位数</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.id, admin_student_path(student) %></td>
        <td><%= student.name %></td>
        <td><%= student.department_name %></td>
        <td><%= student.total %>点</td>
        <td><%= student.average %>点</td>
        <td><%= student.count %>個</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_student_path(student), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

