<h4>アカウント編集</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "学生証番号" %>
  <%= f.text_field :student_id, :autofocus => true %>
  <span class="help-inline" style="font-size: small; color: gray;">下4桁を入力してください</span>
  </div>

  <div><%= f.label "名前" %>
  <%= f.text_field :name %></div>

  <div><%= f.label "学科" %>
  <%= f.select :department, options_for_select(User::DEPARTMENT) %></div>

  <div><%= f.label "合計点" %>
  <%= f.number_field :total, :max => 9999, :min => 0 %></div>

  <div><%= f.label "取得コマ数" %>
  <%= f.number_field :count, :max => 40, :min => 0 %></div>

  <div><%= f.submit "更新", :class => "btn btn-primary" %></div>
<% end %>

