<h4>アカウント登録</h4>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :student_id %>
  <%= f.text_field :student_id, :autofocus => true %>
  <span class="help-inline" style="font-size: small; color: gray;">下4桁を入力してください</span>
  </div>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>
  <span class="help-inline" style="font-size: small; color: gray;">本名で登録してください</span>

  <div><%= f.label :department %>
  <%= f.select :department, options_for_select(User::DEPARTMENT) %></div>

  <div><%= f.label :total %>
  <%= f.number_field :total, :min => 0, :max => 9999 %></div>

  <div><%= f.label :count %>
  <%= f.number_field :count, :min => 0, :max => 40 %></div>

  <% if PharmkonSetting.force_rank? %>
    <div><%= f.label :force_rank %>
    <%= f.number_field :force_rank, :min => 1, :max => 200 %></div>
  <% end %>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

<div><%= f.submit "登録", :class => "btn btn-primary" %></div>
<% end %>
