<h4>ログイン</h4>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <label class="checkbox">
        <%= f.check_box :remember_me %>ログイン状態を維持する
      </label>
    </div>
  <% end -%>

  <div><%= f.submit "ログイン", :class => "btn btn-success" %></div>
<% end %>

