
<h2>ログイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "学生証番号" %><br />
    <%= f.text_field :student_id, :autofocus => true %>
    <span class="help-inline" style="font-size:small; color:gray;">下4桁を入力してください</span>
  </div>

  <div><%= f.label "パスワード" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "ログイン状態を維持する" %></div>
  <% end -%>

  <div><%= f.submit "ログイン", :class => "btn btn-primary" %></div>
<% end %>
